<footer>
  <div class="container">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}

          {% if site.linkedin_url %}
          <li>
            {% include icon-linkedin.html url=site.linkedin_url %}
          </li>
          {% endif %}

          {% if site.stackoverflow_username %}
          <li>
            {% include icon-stackoverflow.html username=site.stackoverflow_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>
          Software development is my passion. Learn more about me via the
          social media links above. Or better yet, do it the old-fashioned way
          by sending your thoughtful thoughts to
          <a href="mailto:zourtney@gmail.com">zourtney@gmail.com</a>. I promise
          to respond in kind.
        </p>

        <p class="designed-by">
          <small>
            Designed and developed by Courtney Christensen, 2013 -
            {{ site.time | date: '%Y' }}
          </small>
        </p>
      </div>
    </div>
  </div>
</footer>
