footer {
  background: $veryLightGreen;
  color: black;
  text-align: center;
  border-top: 1px solid $lightGreen;

  .container {
    padding: 60px;
  }

  ul {
    padding: 0;
  }

  li {
    display: inline-block;
    padding: 20px;
  }

  a {
    display: inline-block;
  }

  label {
    display: block;
  }

  i {
    font-size: 70px;
  }
}

.designed-by {
  color: $lightGreen;
}


//
// Responsiveness
//
@media all and (max-width: 767px) {
  footer {
    font-size: 16px;

    .container {
      padding: 40px;
    }

    i {
      font-size: 42px;
    }
  }
}

@media all and (max-width: 480px) {
  footer {
    font-size: 14px;

    .container {
      padding: 20px;
    }

    li {
      padding: 5px;
    }

    i {
      font-size: 28px;
    }
  }
}


//
// Hide footer in print mode
//
body.print {
  footer {
    display: none;
  }
}
