.links {
  font-size: 14px;
  line-height: 24px;

  a {
    color: black;
    display: block;
  }

  a:hover {
    color: $lightGreen;
  }

  ul {
    padding: 0;
  }

  .ext-link {
    position: relative;
    padding: 10px 0;

    i {
      position: absolute;
      font-size: 28px;
    }

    label {
      display: inline-block;
      margin-left: 40px;
    }
  }
}
